body {
  background: radial-gradient(
    592px at 48.2% 50%,
    rgba(255, 255, 249, 0.6) 0%,
    rgb(160, 199, 254) 74.6%
  );
}

img {
  border-radius: 10px;
  box-shadow: 3px 4px 4px 3px rgba(0, 0, 0, 0.3);
}

button {
  background-color: rgb(161, 212, 233);
  border-radius: 5px;
}
button:hover {
  background: rgb(0, 245, 131);
  color: #000000;
  border: 2.5px solid #007bc5;
}
.dogLink {
  margin: 25px;
  padding: 15px;
}
.catLink {
  margin: 80px;
  margin-top: 2px;
  padding: 15px;
}
